
      <%- include('header') %>
      <div class="row">
          <div class="col-md-12">
  
        <form action="/addnewpasswordcategory" id="categoryForm" class="form-horizontal col-md-8" method="post">
              <% if(errors != ''){ %>
            <p class="" style="text-align: center; color:red">
              <%= errors.category_name.msg %>
            </p>
            <% } %>

            <% if(success != ''){ %>
              <p class="" style="text-align: center; color:green">
                <%= success %>
              </p>
              <% } %>

          <div class="form-group">
              <label for="firstname" class="col-md-3 control-label">Category Name</label>
              <div class="col-md-9">
                  <input type="text" class="form-control" name="category_name" placeholder="Enter Category Name">
              </div>
          </div>

          <div class="form-group">
              <!-- Button -->                                        
              <div class="col-md-offset-3 col-md-9">
              <input type="submit" value="Add Category" class="btn btn-primary">   
              </div>
          </div>
          
          <p> <a href="/passwordcategory"> Go to Category List </a></p>
      </form>
    </div>
    </div>
    
    <%- include('footer') %>
