<%- include('header') -%>

    <div class="row">
        <div class="col-md-12">
            <!-- <button onclick="saveLocation()">Get Location</button> -->

            <div id="location"></div>
        </div>
    </div>

    <!-- <script>

        // sending an ajax request for storing the location
    var saveLocation= function(){

         // getting the user location (long , latitude) using geolocation property of navigator object which returns geolocation object

            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(function(position){
                    // $('#location').html('<strong>Lat: </strong> ' + position.coords.latitude + '<strong> Long: </strong> ' + position.coords.longitude)
                    var lat = position.coords.latitude
                    var long = position.coords.longitude
                    var timestamp = position.timestamp
        
                    var postData = {};
                    postData.lat = lat
                    postData.long = long
                    
                    $.ajax({
                        url:'/geolocation',
                        type:'POST',
                        data:JSON.stringify(postData),
                        contentType: "application/json; charset=utf-8",
                        success:function(result){
                            if(result.success){
                                $('#location').html(result.success + 'Your co-ordinates are: <b> Latitude:</b> ' + result.lat + '<b> Longitude: </b>' + result.long);
                            }
                        },
                        failure:(error) => {
                            console.log(error)
                        }  
                    })
                });
            }else{
                $('#location').text('Not getting the location');
            }

    }
    </script> -->

<%- include('footer') -%>