<!DOCTYPE html>	
<html>	
  <head>	
    <meta charset="UTF-8">	
    <meta name="description" content="Node Js Application with Chat Functionality">	
    <meta name="keywords" content="HTML, CSS, JavaScript, Node Js, Express Js, Socket.io, Mongo DB">	
    <meta name="author" content="Divyansh Dixit">	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	

    <title><%= title %></title>	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>	
    <link rel='stylesheet' href='./fakepath/stylesheets/style.css' />	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>	
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>	

  <script>	
    var socket = io();	
    var user = 'User';
    var userStatus;
    window.status;

    if(navigator.onLine){
        status = '<i class="fa fa-circle status-green" aria-hidden="true"></i>';
        $('.statuss').html(status)
        socket.emit('userStatus', {username:user, status:status})
      }else{
        status = '<i class="fa fa-circle status-red" aria-hidden="true"></i>';
        $('.statuss').html(status)
        socket.emit('userStatus', {username:user, status:status})
      }
      
      window.addEventListener('online', function(){
        status = '<i class="fa fa-circle status-green" aria-hidden="true"></i>';
        $('.statuss').html(status);
        socket.emit('userStatus', {username:user, status:status})
      })

      window.addEventListener('offline', function(){
        status = '<i class="fa fa-circle status-red" aria-hidden="true"></i>';
        $('.statuss').html(status)
        socket.emit('userStatus', {username:user, status:status})
      })

    function setUsername(){	
        socket.emit('setusername', $('#name').val())	
    }	

    socket.on('message', (data) => {
      $('.user-connecting').html(data);
    })

    socket.on('newUserStatus', function(data){
      $('.userStatus').html(`username : ${data.username} Status: ${data.status}`)
    })

    socket.on('userSet', function(data)
    {	
        user = data.username;	
        
        // document.write('Welcome <strong> '+ user + ' </strong>, You can chat now.<br><br>')	
        $('.set-username').css('display', 'none');	
        $('#error').css('display', 'none');	
        $('.container').append('<div class="row">'+	
            '<div class="col-md-12"> <p> Welcome <strong> '+ user + ' </strong>, You can chat now. </p> </div>'+	
            '<div class="col-md-12"> <div class="count">' + data.usernumber + ' users are connected! </div><br> '+	
            '<p class="status"> '+status+' </p>'+
            '<div class="form-group"> <input type="text" class="form-control" id="message"/><br>'+	
            '<button type="button" class="btn btn-primary" onclick="sendMessage()"> Send message </button> &nbsp;&nbsp;'+
            '<input type="file" class="file-upload" id="file" multiple/> &nbsp;'+	
            '<button type="button" class="btn btn-primary" onclick="sendFile()"> <i class="fa fa-upload" aria-hidden="true"></i> </button>'+
            '<div id="message-container" class="customBox"> </div> <div id="file-container" class="fileBox"> </div> '+	
            '</div> </div> ')	
    })	
    	
    function sendMessage(){	
      
        var msg = $('#message').val();
        if(msg.length > 0){
            socket.emit('msg', {message:msg, username:user, status:status})	
            $('#message').val('')	
        }
        
    }

    function sendFile(){

      // if we want to serve the any file from client to server we need multipart-formdata
      // use js class FormData()
      var myfiles = $('#file').prop('files');
      var formData = new FormData();

      // append each file in formdata object
      for(var i=0; i<myfiles.length; i++){
          formData.append('myfile',  myfiles[i])
      }

        $.ajax({
            url:'/file/upload',
            type:'POST',
            data:formData,
            dataType:'json',
            contentType:false,
            processData:false,

            success:function(result){
                socket.emit('filesend', {file:myfiles, username:user, status:status})
            },
            failure:function(error){
                console.log(error)
            }
        })
    }

    socket.on('newmsg', function(data) {	
        if(data) {	
            $('#message-container').prepend('<br><div class="col-md-12"> ' + data.status + ' <b>' + data.username + '</b>: ' + data.message + '</div><br>') 	
        }
    })	

    socket.on('newfilesend', function(data){
        if(data){
            for(var j=0; j < data.file.length; j++){
                for (var key in data.file[j]) {
                    if (key == 'name') {
                        var filename = data.file[j][key];
                        $('#message-container').prepend('<br><div class="col-md-12"> ' + data.status + ' <b>' + data.username + '</b>: <img src="./fakepath/uploads/' + filename + '" alt="'+filename+'" width="100%" class="image"/></div><br>') 	
                    }
                }
            }
            $('#file').val('');
        }
    })

    socket.on('userExists', function(data){	
        if(data){	
            // $('#error').text(data);	
            document.getElementById('error').innerHTML = data	
        }	  	
    })	

    socket.on('userDisconnected', function(data){
      if(data){
        $('.status').text(data.username + ' disconnected!')
      }
    })

    </script>	
    </head>	

  <body>	

    <div class="container">	
        <nav class="navbar navbar-dark  navbar-expand-lg bg-dark">	
            <!-- Navbar content -->	
            <a class="navbar-brand" href="#">PMS</a>	
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">	
              <span class="navbar-toggler-icon"></span>	
            </button>	
            <div class="collapse navbar-collapse" id="navbarText">	
              <ul class="navbar-nav mr-auto">	
                <li class="nav-item active">	
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>	
                </li>	
                <li class="nav-item dropdown">	
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	
                      Password Category	
                    </a>	
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">	
                      <a class="dropdown-item" href="/addnewpasswordcategory">Add New Category</a>	
                      <a class="dropdown-item" href="/passwordcategory">View All Category</a>	
                    </div>	
                  </li>	
                  <li class="nav-item dropdown">	
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	
                      Password Details	
                    </a>	
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">	
                      <a class="dropdown-item" href="/addnewpassword">Add New Password</a>	
                      <a class="dropdown-item" href="/passwordlist">View All Password</a>	
                    </div>	
                  </li>	
                  <li class="nav-item">	
                    <a class="nav-link" href="/chat">Chat</a>	
                  </li>	
              </ul>	
              <span class="navbar-text">	
                <%= projectName %>	
              </span>	
            </div>	
        </nav>	

        <div class="row">	

          <p class="statuss"> </p>
          <p class="userStatus"> </p>

          <p class="user-connecting"> </p>
        <!-- showing error for alredy taken username -->	

        <div class="col-md-12">	
            <p id="error"></p>	
        </div>	

        <!--  -->	

            <div class="col-md-12" style="padding-top: 20px;">	
            <div class="set-username">	
                <input type="text" name="name" value="" id="name" placeholder="Enter your name!"/>	
                <button type="button" name="chat" class="btn btn-primary" onclick="setUsername()"> Let Me Chat! </button>	
            </div>	

        </div>	

    </div>	

    </div>	
    <footer>	
        <center> <p> Copyright &copy; </p> </center>	
    </footer>	
    </body>	
    </html>