body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status-green:before{
  content: "\f111";
  color: green!important;
}

.status-red:before{
  content: "\f111";
  color: red;
}

@media screen and (max-width:767px){
  body{
    width:100%
  }
}